html{
    padding-left: 10px;
    padding-right: 10px;
}

nav li{
    list-style: none; 
    display: inline;
    text-align: center;
    margin-inline: 30px;
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.main{
    align-items: center;
    padding: 4em;
    gap: 4em;
}

.center{display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;}

.artworks{
    margin: 10px;
}

.portolio-slideshow{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation{
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background-color: black;
}

.slides{
    display: flex;
}

.slide{
    transition: 0.6s;
}

.row{
    display: flex;
    flex-direction: row;
}

.left-align {text-align: left;}
.right-aligh {text-align: right;}
.center-align {text-align: center;}
.justify{text-align: justify;}

.column{
    display: flex;
    flex-direction: column;
}

.bg-color {background-color: #222222; border-radius: 30px;
}

.skyblue{color: skyblue;}
.white{color: white;}
.black{color: black;}

/*Artwork-1*/ 

#r1:checked ~ .s1{
    margin-left: 35%;
}

#r1:checked ~ .s2{

    margin-right: 5%;
    transform: scale(0.5);
    opacity: 0.5;
}

#r1:checked ~ .s3{
    margin-left: -20%;
    transform: scale(0.3);
    opacity: 0.2;
}


/*Artwork-2*/

#r2:checked ~ .s1 {
    margin-left: 0%;
    transform: scale(0.5);
    opacity: 0.5;
}

#r2:checked ~ .s3{
    transform: scale(0.5);
    opacity: 0.5;
}


/*Artwork-2*/

#r3:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-right: -20%;
    transform: scale(0.3);
    opacity: 0.2;
}

#r3:checked ~ .s2{
    margin-left: 5%;
    transform: scale(0.5);
    opacity: 0.5;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}